body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

ul {
    position: absolute;
    display: flex;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
    padding: 10px 20px;
}

ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    color: aqua;
    padding: 5px 0;
}

ul li a:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    background-color: aqua;
    top: 100%;
    left: 0;
    transition: .5s;
}

ul li:hover a:before {
    width: 50%;
    transform: translateX(100%);
}